<div class="container">
<div class="col-md-8 col-md-offset-2">
  <h2>Delete this record</h2>

  <div class="content">
    
    <ul>
      <li>Affiliation: <%= @ship.affiliation%></li>
      <li>Type/class: <%= @ship.type_class%></li>
      <li>Sub-class: <%= @ship.sub_class%></li>
      <li>Top speed, warp factor: <%= @ship.top_speed%></li>
      <li>Crew complement: <%= @ship.crew%></li>
      <li>Notes: <%= @ship.note%></li>
    </ul>
    <br>

    <form method="post" action="/ships/<%= @ship.id%>/delete">
        <h3>This action cannot be undone <input name="submit" type="submit" value="Delete"></h3>
    </form>   

  </div>

  <a href="/"><button><h4>Home</h4></button></a>
  <br></br>

</div>
</div>