<div class="container">
<div class="col-md-8 col-md-offset-2">
  <h2>Edit information about this vessel</h2>

  <div class="content">
    <form method="post" action="/ship/<%= @ship.id%>/edit">
        <label>Type/class: </label><input name="type_class" type="text" value="<%= @ship.type_class%>">*<br>
        <label>Sub-class: </label><input name="sub_class" type="text" value="<%= @ship.sub_class%>"><br>
        <label>Top Speed (warp factor): </label><input name="top_speed" type="text" value="<%= @ship.top_speed%>"><br>
        <label>Crew complement: </label><input name="crew" type="text" value="<%= @ship.crew%>"><br>
        <label>Affiliation or Empire: </label><input name="affiliation" type="text" value="<%= @ship.affiliation%>">*<br>
        <label>Note: </label><input name="note" type="text" value="<%= @ship.note%>"><br>
        <p>*Asterisk indicates mandatory field</p>
        <br>
        <input name="submit" type="submit">
    </form>
    <h3>Or, delete this record <a href="/ship/<%= @ship.id%>/delete"><button><h4>Delete</h4></button></a></h3>    

  </div>

  <a href="/"><button><h4>Home</h4></button></a>
  <br></br>

</div>
</div>